/*
mixins for prefixer
*/
.main-button {
  background-color: rgba(196, 80, 27, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 20px;
  cursor: pointer; }
  .main-button:hover {
    background-color: #C4501B; }

.head-with-border {
  position: relative; }
  .head-with-border h2 {
    background-color: white;
    color: #C4501B;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    margin: 20px auto;
    width: 400px;
    padding: 10px 5px;
    border-radius: 20px; }
    @media (max-width: 767px) {
      .head-with-border h2 {
        width: 250px; } }
    .head-with-border h2:before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #E9972D;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: -1; }

@media (min-width: 1200px) {
  .circle-wrapper {
    margin: auto;
    width: 100px;
    height: 100px; }
    .circle-wrapper:hover .icon {
      color: #C4501B; }
    .circle-wrapper:hover .circle {
      border: 2.5px dashed #4A7140;
      animation: spin 3s linear infinite; }
    .circle-wrapper:hover .success {
      background-color: white; }

  .icon {
    color: white;
    font-size: 55px;
    position: absolute;
    top: 100px;
    left: auto;
    transform: translate(35%); }

  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
    border: 2.5px dashed #4A7140; }

  .success {
    background-color: #C4501B; }

  @keyframes spin {
    100% {
      transform: rotateZ(360deg); } } }
.circle-wrapper {
  margin: auto;
  width: 100px;
  height: 100px; }

.icon {
  position: static;
  color: white;
  font-size: 55px;
  top: 100px;
  left: auto;
  transform: translate(0, -130%); }

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
  border: 2.5px dashed #4A7140; }

.success {
  background-color: #C4501B; }

@keyframes spin {
  100% {
    transform: rotateZ(360deg); } }
body {
  font-family: tahoma;
  font-size: 16px; }

ul, ol {
  list-style: none;
  padding: 0px; }

.header {
  overflow: hidden; }
  .header .logo {
    width: 30%;
    float: left;
    padding: 0px;
    margin-top: 10px; }
    @media (max-width: 767px) {
      .header .logo {
        width: 100%;
        float: none;
        text-align: center; } }
    @media (min-width: 768px) {
      .header .logo {
        width: 100%;
        float: none;
        text-align: center; } }
    @media (min-width: 992px) {
      .header .logo {
        width: 30%;
        float: left; } }
    .header .logo h1 {
      color: #C4501B;
      margin-bottom: 0px;
      margin-top: 0px; }
      .header .logo h1 i {
        margin-left: 15px; }
    .header .logo p {
      color: #14371F;
      margin-top: 0px; }
  .header .navbar {
    overflow: hidden; }
    @media (min-width: 768px) {
      .header .navbar {
        background-color: #C4501B;
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 15px; }
        .header .navbar .dropbtn {
          display: none; }
        .header .navbar .menu {
          display: block !important; }
          .header .navbar .menu a {
            color: white; } }
    @media (min-width: 992px) {
      .header .navbar {
        background-color: white;
        width: 70%;
        float: left;
        padding: 0px;
        margin: 35px auto;
        text-align: left; }
        .header .navbar .menu {
          background-color: white; }
          .header .navbar .menu a {
            color: #C4501B; } }
    @media (max-width: 767px) {
      .header .navbar {
        width: 100%;
        float: none;
        margin-bottom: 15px; }
        .header .navbar .menu {
          display: none; }
        .header .navbar .menu li {
          display: block;
          width: 100%;
          background-color: #C4501B; }
          .header .navbar .menu li a {
            color: white; }
        .header .navbar .dropbtn {
          width: 100%;
          border: none;
          background-color: #C4501B;
          padding: 10px; }
          .header .navbar .dropbtn i {
            color: white; } }
    .header .navbar ul {
      display: inline; }
      .header .navbar ul li {
        width: 25%;
        float: left;
        font-size: 25px;
        text-align: center; }
        .header .navbar ul li a {
          color: #C4501B;
          padding: 15px 10px;
          display: inline-block;
          text-decoration: none; }
          .header .navbar ul li a:hover {
            color: #E9972D; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.clear-fix {
  clear: both; }

@media (max-width: 767px) {
  .xs-text-center {
    text-align: center; } }

.slider {
  background: url("../img/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .slider {
      padding: 50px;
      min-height: 400px; } }
  .slider .intro {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.815);
    width: 80%;
    margin: 30px auto;
    padding: 10px; }
    @media (max-width: 767px) {
      .slider .intro {
        width: 100%;
        margin: 0px; } }
    .slider .intro h1 {
      font-size: 50px;
      color: #14371F; }
    .slider .intro p {
      font-size: 25px;
      text-align: center;
      line-height: 1.7;
      font-style: italic;
      color: #14371F; }
      @media (max-width: 767px) {
        .slider .intro p {
          font-size: 15px;
          text-align: center; } }
    .slider .intro .bullets li {
      display: inline-block;
      padding: 10px;
      background-color: #C4501B;
      border: 2px solid #C4501B;
      border-radius: 50%;
      margin-left: 15px;
      cursor: pointer; }
      @media (max-width: 767px) {
        .slider .intro .bullets li li {
          margin: 5px; } }
      .slider .intro .bullets li i {
        color: white;
        font-size: 25px; }
      .slider .intro .bullets li.active, .slider .intro .bullets li:hover {
        background-color: white;
        border: 2px solid #C4501B; }
        .slider .intro .bullets li.active i, .slider .intro .bullets li:hover i {
          color: #C4501B; }

.services {
  margin-bottom: 50px;
  margin-top: 50px; }
  .services .service-box {
    /* 	background-color: $trecolor;
    border-radius: 10px;
    &:hover {
    	background-color:white;
    	border : 2px solid $trecolor ;
    } */
    text-align: center; }
    @media (min-width: 1200px) {
      .services .service-box {
        float: left;
        width: 32.3333333333%; } }
    @media (min-width: 768px) {
      .services .service-box {
        float: left;
        width: 31.6666666667%;
        margin: 5px;
        padding: 20px; } }
    @media (max-width: 767px) {
      .services .service-box {
        margin-bottom: 15px;
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 20px; }
        .services .service-box i {
          display: block;
          margin-bottom: 15px; } }
    .services .service-box .service-title {
      color: #A0361B; }
    .services .service-box .service-desc {
      color: #14371F;
      line-height: 1.6; }
    .services .service-box .service-link {
      color: #C4501B;
      text-decoration: none; }
      .services .service-box .service-link:hover {
        transition: 0.2s;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #C4501B; }

.teamwork .team-box {
  float: left;
  text-align: center;
  padding: 10px 10px 10px 5px;
  border: 2px solid;
  border-image: conic-gradient(white, #C4501B, white, orange, white, #C4501B, white, orange, white) 1; }
  @media (min-width: 768px) {
    .teamwork .team-box {
      width: 47%;
      margin: 20px 0px 0px 20px; } }
  @media (min-width: 1200px) {
    .teamwork .team-box {
      width: 23.5%;
      margin: 50px 8px 50px 8px; } }
  @media (max-width: 767px) {
    .teamwork .team-box {
      margin: 20px; } }
  @media (max-width: 767px) {
    .teamwork .team-box .team-box-img {
      border-radius: 50%; }
      .teamwork .team-box .team-box-img img {
        background: linear-gradient(to top, #ee8904, #e7a042, #c0e92d, #aedc59, #89dc59);
        border-radius: 50% !important;
        padding: 5px; } }
  @media (min-width: 768px) {
    .teamwork .team-box .team-box-img {
      height: 200px;
      width: 200px;
      border-radius: 33% 42% 31% 36% / 56% 20% 47% 27%;
      background: linear-gradient(to top, #ee8904, #e7a042, #c0e92d, #aedc59, #89dc59);
      padding: 5px;
      margin: auto; } }
  .teamwork .team-box .team-box-img img {
    height: 200px;
    width: 200px;
    border: 4px solid white;
    border-radius: 69% 6% 63% 12% / 40% 26% 54% 52%; }
  .teamwork .team-box .team-box-name {
    margin-top: -15px; }
    .teamwork .team-box .team-box-name p {
      color: #C4501B;
      font-size: 30px; }
  .teamwork .team-box .team-box-profile {
    margin-top: -15px; }
    .teamwork .team-box .team-box-profile p {
      color: grey;
      font-size: 20px; }
  .teamwork .team-box .team-box-bref {
    margin-top: -15px; }
    .teamwork .team-box .team-box-bref p {
      color: #14371F;
      font-size: 15px;
      line-height: 1.5; }
  .teamwork .team-box .team-box-links {
    display: none;
    margin: -30px; }
    .teamwork .team-box .team-box-links ul {
      display: inline-flex;
      background-color: white;
      padding: 5px 5px 5px 15px;
      border-radius: 10px; }
      .teamwork .team-box .team-box-links ul li {
        margin-right: 10px;
        font-size: 25px;
        color: #A0361B; }
        .teamwork .team-box .team-box-links ul li:hover {
          color: #E9972D; }
      .teamwork .team-box .team-box-links ul li:last-child {
        margin-left: 40px; }
  .teamwork .team-box:hover .team-box-links {
    display: block; }

.limages {
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Number text (1/3 etc) */
  /* Container for image text */
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */ }
  .limages .container {
    position: relative; }
  .limages .mySlides {
    display: none; }
    .limages .mySlides img {
      width: 100%;
      height: 500px; }
  .limages .cursor {
    cursor: pointer; }
  .limages .prev,
  .limages .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none; }
  .limages .next {
    right: 0;
    margin-right: 15px;
    border-radius: 3px 0 0 3px; }
  .limages .prev:hover,
  .limages .next:hover {
    background-color: #C4501B; }
  .limages .numbertext {
    color: #E9972D;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute; }
  .limages .caption-container {
    text-align: center;
    background-color: #4A7140;
    padding: 2px 16px;
    color: white; }
  @media (max-width: 767px) {
    .limages .row {
      display: none; } }
  .limages .row:after {
    content: "";
    display: table;
    clear: both; }
  .limages .column {
    margin-top: 3px;
    float: left;
    width: 16.6666666667%; }
    .limages .column img {
      width: 100%;
      height: 150px; }
  .limages .demo {
    opacity: 0.7; }
  .limages .active,
  .limages .demo:hover {
    opacity: 1; }

.footer {
  background-color: #e5e5e5;
  padding-top: 30px;
  margin-top: 50px;
  overflow-x: hidden; }
  @media (min-width: 768px) {
    .footer .gallery, .footer .info, .footer .contact {
      float: left; } }
  @media (min-width: 768px) {
    .footer .gallery {
      width: 100%; } }
  @media (min-width: 992px) {
    .footer .gallery {
      width: 50%; } }
  .footer .gallery .img-box {
    margin-bottom: 20px;
    overflow: hidden; }
    .footer .gallery .img-box img {
      width: 150px;
      height: 150px;
      float: left;
      border: 1px solid #C4501B;
      transition: transform .2s; }
      .footer .gallery .img-box img:hover {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform: scale(0.9); }
      @media (max-width: 767px) {
        .footer .gallery .img-box img {
          float: none; } }
    .footer .gallery .img-box .text {
      margin-right: 15px;
      margin-left: 15px;
      float: left; }
      @media (min-width: 768px) {
        .footer .gallery .img-box .text {
          width: calc(100% - 180px); } }
      @media (max-width: 767px) {
        .footer .gallery .img-box .text {
          float: none; } }
      .footer .gallery .img-box .text h4 {
        color: #C4501B;
        margin: 20px 0 0px; }
      .footer .gallery .img-box .text p {
        color: #14371F;
        line-height: 1.9;
        margin-top: 8px; }
  @media (min-width: 768px) {
    .footer .info {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer .info {
      width: 25%; } }
  .footer .info ul {
    color: #14371F;
    line-height: 1.8; }
    @media (min-width: 768px) {
      .footer .info ul {
        margin-top: 50px; } }
  .footer .info h5 {
    color: #14371F; }
  .footer .info p {
    color: #14371F; }
  .footer span {
    color: #C4501B; }
  @media (min-width: 768px) {
    .footer .contact {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer .contact {
      width: 25%; } }
  .footer .contact input[type="text"], .footer .contact input[type="email"], .footer .contact textarea {
    border: 1px solid #C4501B;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%; }
  .footer .contact textarea {
    height: 120px; }
  @media (min-width: 768px) {
    .footer .contact input[type="text"] {
      margin-top: 40px; } }
  .footer .f-title {
    color: #A0361B;
    font-weight: normal;
    font-size: 25px; }
  .footer .copyright {
    margin-top: 20px;
    padding: 20px 0px;
    border-top: 1px solid #C4501B;
    overflow: hidden;
    color: #14371F; }
    .footer .copyright .text, .footer .copyright .author {
      float: left; }
      @media (max-width: 767px) {
        .footer .copyright .text, .footer .copyright .author {
          float: none;
          margin-bottom: 10px; } }
      @media (min-width: 768px) {
        .footer .copyright .text, .footer .copyright .author {
          width: 50%; } }
    @media (min-width: 768px) {
      .footer .copyright .author {
        text-align: right; } }
