$firstcolor :#A0361B;
$seccolor :#C4501B;
$trecolor :#E9972D;
$forcolor :#4A7140;
$lastcolor :#14371F;

$maxMobile :"(max-width: 767px)";
$minSmall :"(min-width: 768px)";
$maxSmall :"(max-width: 991px)";
$minMeduim :"(min-width: 992px)";
$minLarge :"(min-width: 1200px)";
