.header {
	overflow: hidden;
	.logo {
		width: 30%;
		float: left;
		padding: 0px;
		margin-top: 10px;
		//=======================
		@media #{$maxMobile} {
			width: 100%;
			float: none;
			text-align: center;
		}
		//=====================
		@media #{$minSmall} {
			width: 100%;
			float: none;
			text-align: center;
		}
		@media #{$minMeduim} {
			width: 30%;
			float: left;
		}
		h1 {
			color: $seccolor;
			margin-bottom: 0px;
			margin-top: 0px;
			i {
				margin-left: 15px;
			}
		}
		p {
			color: $lastcolor;
			margin-top: 0px;
		}
	}
	.navbar {
		overflow: hidden;
		@media #{$minSmall} {
			background-color: $seccolor;
			width: 100%;
			float: none;
			text-align: center;
			margin-bottom: 15px;
			.dropbtn {
				display: none;
			}
			.menu {
				display: block !important;
				a {
					color: white;
				}
			}
		}
		@media #{$minMeduim} {
			background-color: white;
			width: 70%;
			float: left;
			padding: 0px;
			margin: 35px auto;
			text-align: left;
			.menu {
				background-color: white;
				a {
					color: $seccolor;
				}
			}
		}
		//=======================
		@media #{$maxMobile} {
			width: 100%;
			float: none;
			margin-bottom: 15px;
			.menu {
				display: none;
			}
			.menu {
				li {
					display: block;
					width: 100%;
					background-color: $seccolor;
					a {
						color: white;
					}
				}
			}
			.dropbtn {
				i {
					color: white;
				}
				width: 100%;
				border: none;
				background-color: $seccolor;
				padding: 10px;
			}
		}
		//=====================
		ul {
			display: inline;
			li {
				width: 25%;
				float: left;
				font-size: 25px;
				text-align: center;
				a {
					color: $seccolor;
					padding: 15px 10px;
					display: inline-block;
					text-decoration: none;
					&:hover {
						color: $trecolor;
					}
				}
			}
		}
	}
}
