.head-with-border {
	position: relative;
	h2{
	background-color: white ;
	color :$seccolor ;
	text-align: center;
	font-size: 40px;
	font-family: monospace;
	margin:20px auto;
	width: 400px;
	padding:10px 5px ;
	border-radius: 20px;
	@media #{$maxMobile} {
			width: 250px ;
		} 
	&:before{
		content:'';
		width: 100%;
		height: 1px;
		background-color: $trecolor ;
		position: absolute;
		left:0;
		top:50%;
		z-index: -1;

	}
	}

}