@media #{$minLarge} {
  .circle-wrapper {
    margin: auto;
    width: 100px;
    height: 100px;
  }

  .icon {
    color:white;
    font-size: 55px;
    position: absolute;
    top: 100px;
    left: auto;
    transform: translate(35%);
  }

  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
    border: 2.5px dashed $forcolor;
  }

  .success {
    background-color: $seccolor;
  }

  @keyframes spin {
    100% {
      transform: rotateZ(360deg);
    }
  }
}
//=========================
.circle-wrapper {
  margin: auto;
  width: 100px;
  height: 100px;
}

.icon {
  position: static;
  color: white;
  font-size: 55px;
  top: 100px;
  left: auto;
  transform: translate(0,-130%);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
  border: 2.5px dashed $forcolor;
}

.success {
  background-color: $seccolor;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
